<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gallery | Arya Constructions</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />

    <link rel="stylesheet" th:href="@{/assets/css/backend-plugin.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/backend.css?v=1.0.0}">
</head>

<body class=" ">

    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">

        <div th:replace="~{backend/sidebar::layout(~{::section})}"></div>

        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <div th:replace="~{backend/navbar::layout(~{::section})}"></div>
            </div>
        </div>


        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <!-- Add Gallery -->
                    <div class="col-sm-12 col-lg-5">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">Add Gallery</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/add1" method="post" enctype="multipart/form-data">
                                    <p><b>Images:</b></p>
                                    <div class="custom-file mb-3">
                                        <input type="file" class="custom-file-input" id="customFile" name="image" required>
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                    <div class="text-danger mt-2">
                                        <p th:if="${message}" th:text="${message}"></p> <!-- Show error message -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- View Gallery -->
                    <div class="col-sm-12 col-lg-7">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">View Gallery</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table">
                                    <table class="table mb-0">
                                        <thead class="table-color-heading">
                                        <tr class="text-secondary">
                                            <th scope="col">Image</th>
                                            <th scope="col" colspan="2">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- Loop through galleryList -->
                                        <tr th:each="gallery : ${galleryList}">
                                            <td>
                                                <img th:src="@{/images/{filename}(filename=${gallery.photo})}" width="100px" alt="Gallery Image">

                                            </td>
                                            <td>
                                                <a th:href="'/updateg?id=' + ${gallery.id}">
                                                <button class="btn btn-success mr-2">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/delete/{id}(id=${gallery.id})}">
                                                    <button class="btn btn-danger">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Backend Bundle JavaScript -->
        <script th:src="@{/assets/js/backend-bundle.min.js}"></script>
        <!-- Chart Custom JavaScript -->
        <script th:src="@{/assets/js/customizer.js}"></script>

        <script th:src="@{/assets/js/sidebar.js}"></script>

        <!-- Flextree Javascript-->
        <script th:src="@{/assets/js/flex-tree.min.js}"></script>
        <script th:src="@{/assets/js/tree.js}"></script>

        <!-- Table Treeview JavaScript -->
        <script th:src="@{/assets/js/table-treeview.js}"></script>

        <!-- SweetAlert JavaScript -->
        <script th:src="@{/assets/js/sweetalert.js}"></script>

        <!-- Vectoe Map JavaScript -->
        <script th:src="@{/assets/js/vector-map-custom.js}"></script>

        <!-- Chart Custom JavaScript -->
        <script th:src="@{/assets/js/chart-custom.js}"></script>
        <script th:src="@{/assets/js/charts/01.js}"></script>
        <script th:src="@{/assets/js/charts/02.js}"></script>

        <!-- slider JavaScript -->
        <script th:src="@{/assets/js/slider.js}"></script>

        <!-- Emoji picker -->
        <script th:src="@{/assets/vendor/emoji-picker-element/index.js}" type="module"></script>


        <!-- app JavaScript -->
        <script th:src="@{/assets/js/app.js}"></script>
    </div>
</body>
</html>